#Proyecto 2 ‚Äî Segunda Fase
¬°Bienvenido/a! Como miembro del equipo anal√≠tico, ya sentaste las bases en la primera parte del proyecto. Ahora, aplicar√°s t√©cnicas m√°s avanzadas para procesar y analizar los datos de los clientes.    

Como parte del equipo de an√°lisis de Store 1, has recibido una base de datos cruda con informaci√≥n de clientes y sus compras. Tu objetivo es limpiar y procesar estos datos para poder responder a preguntas clave del negocio, como identificar clientes leales, analizar ingresos por categor√≠a, y encontrar oportunidades de marketing segmentado.

##Introducci√≥n de los datos
La tienda Store 1 almacena informaci√≥n de sus usuarios en listas anidadas. Cada sublista contiene:

- user_id: identificador √∫nico
- user_name: nombre y apellido en un solo string
- user_age: edad
- fav_categories: categor√≠as favoritas de compra (may√∫sculas)
- total_spendings: montos correspondientes a cada categor√≠a  

Ejemplo:

users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ...
]

# Paso 1: Limpieza inicial de un registro de cliente
Este paso sirve como base para entender los elementos clave de un registro antes de escalar el proceso al resto de los usuarios.

Queremos aplicar las siguientes transformaciones:

1. Eliminar espacios en blanco y guiones bajos (_) del nombre del usuario.
2. Dividir el nombre en una lista separando nombre y apellido.
3. Convertir la edad del usuario a un n√∫mero entero.  

Instrucciones:

- Usa la variable user predefinida.
- Modifica los valores directamente en esa lista.
- Muestra el resultado final con print(user).  

Salida esperada:  
['32415', ['mike', 'reed'], 32, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]

###Hint:
1. Recortar y reemplazar: utiliza strip() para eliminar espacios iniciales y finales del nombre del usuario y replace('_', ' ') para eliminar guiones bajos con espacios.
2. Convertir la edad: convierte la edad en entero utilizando la funci√≥n int().
3. Separar el nombre: utiliza el m√©todo split() para separar el nombre y el apellido, creando una sublista.

In [73]:
# Usuario de ejemplo
user = ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]

# Paso 1: limpiar y dividir el nombre
user[1] = user[1].replace('_',' ').strip() #M√©todos replace y strip para cambiar _ por espacios y eliminar espacios en blanco

# Paso 2: dividir el nombre en una lista
user[1] = (user[1]).split() # con m√©todo split, para dividir los elementos en una sublista.

# Paso 3: convertir la edad a entero
user[2] = int(user[2]) # con la funci√≥n int() para convertirlo a entero

# Mostrar resultado
print(user)

['32415', ['mike', 'reed'], 32, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]

# Paso 2: Convertir las categor√≠as a min√∫sculas
En los datos actuales, las categor√≠as favoritas de los clientes est√°n escritas completamente en may√∫sculas. Este formato puede causar inconsistencias en an√°lisis posteriores, como al agrupar, filtrar o contar categor√≠as. Para garantizar una lectura uniforme y facilitar futuras operaciones, es necesario normalizar estos valores a min√∫sculas.

En este paso, trabajaremos con una lista de ejemplo llamada fav_categories y construiremos una nueva lista llamada fav_categories_low, que contendr√° las versiones en min√∫sculas de cada categor√≠a.

Instrucciones:

1. Crea una nueva lista donde cada categor√≠a est√© en min√∫scula.

2. Usando un bucle, recorre y transforma cada elemento de la lista con las categorias en mayuscula para que queden en minuscula.

3. Anade cada elemento a la nueva lista fav_categories_low

4. Muestra el resultado utilizando print para verificar que la conversi√≥n fue exitosa.

La salida esperada es esta:  
['electronics', 'sport', 'books']

In [74]:
# Lista original de categor√≠as favoritas escritas en may√∫sculas
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']

# 1. Lista vac√≠a donde almacenaremos las categor√≠as convertidas a min√∫sculas
fav_categories_low = []

# 2. Recorremos cada categor√≠a en la lista original
for category in fav_categories: # Bucle para recorrer los elementos en categor√≠as
    # 2. Convertimos la categor√≠a a min√∫scula utilizando el m√©todo lower()
    lowered_category = category.lower() # operaci√≥n para pasar los strings de categor√≠as a min√∫sculas

    # 3. Agregamos la categor√≠a convertida a la nueva lista
    fav_categories_low.append(lowered_category)# Para agregar la categor√≠a corregida a la nueva lista

# 4. Mostramos en pantalla la lista resultante con las categor√≠as en min√∫sculas
print(fav_categories_low)

['electronics', 'sport', 'books']

###Hint:  
1. Recorre la lista fav_categories con un bucle.  
2. Convierte cada categor√≠a a min√∫scula utilizando el m√©todo .lower().  
3. Agrega cada categor√≠a convertida a la nueva lista fav_categories_low usando .append().  
4. Muestra el resultado final con print().

# Paso 3: Limpieza completa de un usuario
Ahora vamos a empaquetar todo ese proceso dentro de una funci√≥n reutilizable.

Crea una funci√≥n llamada clean_user(user) que realice estas acciones:

1. Limpie espacios y guiones del nombre y lo divida en nombre/apellido.
2. Convierta la edad a entero.
3. Convierta las categor√≠as a min√∫sculas.  

Usa el mismo c√≥digo que escribiste en los pasos anteriores. Solo necesitas ajustarlo para que funcione dentro de una funci√≥n.

Prueba tu funci√≥n con el usuario test_user y muestra el resultado.  
Salida esperada:  
['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]]

##Hint:
Crea una funci√≥n llamada clean_user que reciba una lista user como argumento.

Dentro de la funci√≥n, limpia el nombre usando .strip() y .replace() y luego div√≠delo con .split().

Convierte la edad a entero usando int().

Recorre la lista de categor√≠as con un bucle o una lista por comprensi√≥n y usa .lower() en cada elemento.

Devuelve una nueva lista con los datos limpios en el mismo orden que el original.

No olvides probar tu funci√≥n con test_user y mostrar el resultado con print().

In [75]:
###FORMA 1###
def clean_user(user): # Inicio de la funci√≥n
    # Limpia y divide el nombre
    name = user[1].replace('_',' ').strip().split() # Limpiar el nombre con los m√©todos correctos

    # Edad como entero
    age = int(user[2]) #Corregir la edad, pas√°ndola a entero

    # Categor√≠as a min√∫sculas

    categories = [] #Lista vac√≠a para almacenar la sublista de categor√≠as
    for cat in user[3]: #Bucle para recorrer los elementos en la sublista de categor√≠as
        categories.append(cat.lower())# con m√©todo append()

    return [user[0], name, age, categories, user[4]]

# Prueba
test_user = ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]
print(clean_user(test_user))

['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]]

In [76]:
###FORMA 2###
def clean_user(user): # Inicio de la funci√≥n
    # Limpia y divide el nombre
    name = user[1].replace('_',' ').strip().split() # Limpiar el nombre

    # Edad como entero
    age = int(user[2]) #Corregir la edad

    # Categor√≠as a min√∫sculas
    categories = [] #Lista vac√≠a para almacenar la sublista de categor√≠as
    for cat in user[3]: #Bucle para recorrer los elementos en categor√≠as
        categories += [cat.lower()] ## operaci√≥n para pasar los strings de categor√≠as a min√∫sculas y agregarlos a la nueva lista vac√≠a

         # escribe tu c√≥digo aqu√≠

    return [user[0], name, age, categories, user[4]]

# Prueba
test_user = ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]
print(clean_user(test_user))

['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]]

#Paso 4: Limpieza de toda la base de usuarios
Ya tienes la funci√≥n clean_user() funcionando correctamente. Ahora es momento de aplicarla a todos los registros de clientes.

1. Itera sobre la lista users_raw,
2. Usa la funci√≥n clean_user() para limpiar cada usuario,
3. Guarda los resultados en una nueva lista llamada users_clean.  


Al final, imprime users_clean para verificar que todos los usuarios han sido transformados correctamente.

El resultado esperado es este:  

[['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]], ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]], ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]], ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]], ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]], ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]], ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]], ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]], ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]], ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]  


###Hint:  
Usa un bucle for para recorrer la lista users_raw. En cada vuelta, aplica la funci√≥n clean_user() al usuario actual y guarda el resultado en una nueva lista llamada users_clean. Recuerda llenarla con .append().

In [77]:
users_raw = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]]
]

users_clean = [] #Lista vac√≠a creada, donde se almacenar√°n los usuarios limpios

def clean_user(user): # Inicio de la funci√≥n
    name = user[1].lower().replace('_',' ').strip().split() # Limpiar el nombre, agrego lower() para pasar todos los nombres y apellidos a min√∫sculas
    age = int(user[2]) # Corregir la edad
    categories = [] # Lista vac√≠a para almacenar la sublista de categor√≠as procesadas
    for cat in user[3]: #Bucle para recorrer los elementos en categor√≠as
        categories += [cat.lower()] # operaci√≥n para pasar los strings de categor√≠as a min√∫sculas y agregarlos a la nueva lista vac√≠a
    return [user[0], name, age, categories, user[4]] # Return para almacenar los resultados.

       # escribe tu c√≥digo aqu√≠
for user in users_raw:# bucle for, fuera de la funci√≥n, para recorrer todos los usuarios
    users_clean.append(clean_user(user)) # Para agregar los usuarios procesados a la nueva lista

print(users_clean)

[['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]], ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]], ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]], ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]], ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]], ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]], ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]], ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]], ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]], ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

#Paso 5: Calcular ingresos totales
Ahora que tienes todos los registros de clientes limpios, el siguiente paso es comenzar a generar insights que puedan ayudar a la empresa a tomar decisiones estrat√©gicas.

La empresa desea conocer sus ingresos totales.

Para calcular los ingresos de la empresa, sigue estos pasos:

1. Crea una variable revenue con valor inicial 0.
2. Itera sobre la lista users_clean con un bucle for.
3. En cada iteraci√≥n, extrae la lista de gastos de cada usuario (la √∫ltima posici√≥n de la sublista).
4. Suma esos valores con sum() y a√±√°delos a revenue.
5. Al finalizar, imprime el resultado final para mostrar el ingreso total generado por todos los usuarios.

Salida esperada:  
9189

##Hint:
Analiza los objetivos del paso actual y reflexiona sobre qu√© estructura de control o funci√≥n te ayudar√° a resolverlo. Reutiliza variables clave como user, users_clean, o total_spendings si ya las has usado previamente. Ap√≥yate en funciones como .lower(), .append(), sum(), o bucles for y while seg√∫n el caso.

In [78]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

revenue = 0 # variable revenue con valor inicial 0.

for user in users_clean:
   revenue += sum(user[4]) # accedo al √≠ndice [4] de cada user, le aplico sum(), y voy sumando al total revenue.

print(revenue)

9189

#Paso 6: Usuarios menores de 30 a√±os
El equipo de marketing quiere segmentar a los usuarios j√≥venes para campa√±as espec√≠ficas. Vamos a identificarlos.

Recorre la lista de usuarios users_clean que has preparado anteriormente y muestra los nombres de los clientes menores de 30 a√±os.

Pasos:
1. Escribe un bucle for que recorra cada usuario en users_clean.

2. Agrega una condici√≥n if para seleccionar a los usuarios menores de 30 a√±os.

3. Dentro del bloque, imprime solo el primer elemento del nombre del usuario.

üìå Recuerda:

Si un elemento dentro de la lista contiene otra lista (como el nombre del usuario), puedes acceder a sus valores usando m√∫ltiples √≠ndices. Primero accede a la posici√≥n del nombre completo, y luego selecciona la parte espec√≠fica que quieras mostrar.

Al ejecutar el c√≥digo, deber√°s ver los nombres de los usuarios menores de 30 a√±os.

Salida esperada:  
kate  
samantha  
emily  
jose  
james  

##Hint:
Usa un bucle for para recorrer users_clean y un if para filtrar por edad (√≠ndice 2). El nombre est√° en la posici√≥n 1 como sublista; usa un segundo √≠ndice para acceder a una parte espec√≠fica. Por ejemplo: user[3][0]  # accede a la primera categor√≠a (por ejemplo, "electronics")

In [79]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]


# escribe tu c√≥digo aqu√≠
for user in users_clean: #Creaci√≥n del bucle
  if user[2]<30: # condici√≥n a cumplir, indicando el √≠ndice de la lista que se debe comparar.
    print(user[1][0]) # Imprimir el resultado, indicando los √≠ndices correctos de la lista y sublista

kate
samantha
emily
jose
james

#Paso 7: J√≥venes con alto gasto
Ahora filtraremos a los usuarios j√≥venes que tambi√©n han gastado mucho dinero, para que la empresa pueda identificarlos y darles beneficios especiales.

Debajo tienes la lista users_clean con todos los datos procesados.

Pasos:  
1. Escribe un bucle for que recorra cada usuario en users_clean.
2. Calcula el total gastado por cada usuario (suma de la lista de gastos).
3. Usa una condici√≥n if para mostrar solo los usuarios menores de 30 a√±os y con un gasto total superior a $1000.  
4. Imprime solo la primera parte del nombre de cada usuario que cumpla ambos criterios.

La salida esperada es:  
samantha  
james

###Hint:
La lista de gastos est√° en la √∫ltima posici√≥n de cada usuario. Puedes sumar sus valores con sum(). Usa operadores l√≥gicos como and para combinar condiciones dentro del if. El nombre es una sublista en la posici√≥n 1. Usa √≠ndices dobles para acceder a una parte espec√≠fica.

In [80]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]


# escribe tu c√≥digo aqu√≠


for user in users_clean: #Creaci√≥n del bucle
  user_spends = sum(user[4]) #Suma de los gastos de cada usuario
  if user[2]<30 and user_spends > 1000: #Condicionantes de edad y gasto
    print(user[1][0]) # Imprimir s√≥lo el nombre, ubicando los √≠ndices de lista y sublista

samantha
james

#Paso 8: Usuarios que compraron ropa
Store 1 tambi√©n est√° explorando patrones de compra por categor√≠a. Comenzamos con la categor√≠a "clothes".

Debajo tienes la lista users_clean con toda la informaci√≥n de compras ya procesada.

Pasos:
1. Escribe un bucle for que recorra cada usuario en users_clean.
2. Usa una condici√≥n if para verificar si "clothes" est√° entre las categor√≠as compradas.
3. Si cumple la condici√≥n, imprime el nombre del usuario y su edad en la misma l√≠nea.

Salida esperada:  
kate 24  
samantha 29  
maria 33  
lisa 35  
james 28  

###Hint:
La lista de categor√≠as compradas est√° en la posici√≥n 3. Usa el operador in para comprobar si una categor√≠a est√° presente. El nombre est√° en formato de sublista (√≠ndice 1) y la edad en la posici√≥n 2. Usa varios √≠ndices para acceder a los datos que necesitas.

In [81]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

# escribe tu c√≥digo aqu√≠

for user in users_clean:
  if 'clothes' in user[3]:
    print(user[1][0],user[2])

kate 24
samantha 29
maria 33
lisa 35
james 28

#Paso 9: Funci√≥n con filtro por categor√≠a
Para automatizar el an√°lisis por categor√≠a, implementaremos una funci√≥n reutilizable que permita obtener los clientes que hayan comprado en una categor√≠a espec√≠fica.

Debajo tienes el nombre de la funci√≥n y una prueba ya preparada con la categor√≠a "home". Solo necesitas completar el cuerpo de la funci√≥n.

Pasos:
1. Completa la definici√≥n de la funci√≥n get_clients_by_category con dos argumentos: una lista de usuarios y una categor√≠a a buscar.

2. Dentro de la funci√≥n:

- Crea una lista vac√≠a para guardar los resultados.
- Recorre cada usuario con un bucle for.
- Usa una condici√≥n if para verificar si la categor√≠a est√° en su lista de compras.
- Si se cumple la condici√≥n, agrega a la lista de resultados una sublista con su ID, nombre completo, edad y gasto total.
3. Devuelve la lista resultante al final de la funci√≥n.

La salida esperada es:  

[['32156', ['john', 'doe'], 37, 678], ['32984', ['david', 'white'], 41, 806], ['33001', ['emily', 'brown'], 26, 951], ['33912', ['jose', 'martinez'], 22, 917], ['34009', ['lisa', 'wilson'], 35, 847]]

###Hint:

La lista de categor√≠as est√° en la posici√≥n 3, y la de gastos en la √∫ltima posici√≥n. Para calcular el gasto total de un usuario, puedes usar `sum()` sobre esa lista. Usa `append()` para agregar un nuevo registro a la lista final.
Al ejecutar el c√≥digo, ver√°s una lista con los usuarios que compraron en la categor√≠a 'home'.

In [82]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

def get_clients_by_category(lista, category):# se definen los par√°metros que tomar√° la funci√≥n
    result = [] #Lista vac√≠a a la que se agregar√°n los resultados
    for user in lista: #Bucle que recorrer√° el par√°metro indicado
      if category in user[3]: #Condicional para verificar si la categor√≠a est√° en su lista de compras
        result.append([user[0],user[1],user[2],sum(user[4])]) # agrega a la lista de resultados una sublista con su ID, nombre completo, edad y gasto total.


    return result

# Prueba con la categor√≠a 'home'
filtered = get_clients_by_category(users_clean, 'home')
print(filtered)

[['32156', ['john', 'doe'], 37, 678], ['32984', ['david', 'white'], 41, 806], ['33001', ['emily', 'brown'], 26, 951], ['33912', ['jose', 'martinez'], 22, 917], ['34009', ['lisa', 'wilson'], 35, 847]]

#Reflexi√≥n del ejercicio 9:
En este paso el objetivo es automatizar el an√°lisis por categor√≠a, por lo que no parece l√≥gico que obtengamos el total del gasto de los clientes, incluyendo todas las categor√≠as en las que compran.
Por esto, podr√≠a mejorarse el c√≥digo para que s√≥lo muestre el gasto, por usuario, de la categor√≠a seleccionada.

Podr√≠a hacerse de esta forma:

In [83]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

def get_clients_by_category(lista, category):
    result = []
    for user in lista:
        if category in user[3]:
            idx = user[3].index(category)           # Posici√≥n de la categor√≠a
            gasto = user[4][idx]                    # Gasto asociado
            result.append([user[0], user[1], user[2], gasto])
    return result

filtered = get_clients_by_category(users_clean, 'home')
print(filtered)

[['32156', ['john', 'doe'], 37, 120], ['32984', ['david', 'white'], 41, 329], ['33001', ['emily', 'brown'], 26, 659], ['33912', ['jose', 'martinez'], 22, 109], ['34009', ['lisa', 'wilson'], 35, 329]]