#Proyecto 2 — Segunda Fase
¡Bienvenido/a! Como miembro del equipo analítico, ya sentaste las bases en la primera parte del proyecto. Ahora, aplicarás técnicas más avanzadas para procesar y analizar los datos de los clientes.    

Como parte del equipo de análisis de Store 1, has recibido una base de datos cruda con información de clientes y sus compras. Tu objetivo es limpiar y procesar estos datos para poder responder a preguntas clave del negocio, como identificar clientes leales, analizar ingresos por categoría, y encontrar oportunidades de marketing segmentado.

##Introducción de los datos
La tienda Store 1 almacena información de sus usuarios en listas anidadas. Cada sublista contiene:

- user_id: identificador único
- user_name: nombre y apellido en un solo string
- user_age: edad
- fav_categories: categorías favoritas de compra (mayúsculas)
- total_spendings: montos correspondientes a cada categoría  

Ejemplo:

users = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ...
]

# Paso 1: Limpieza inicial de un registro de cliente
Este paso sirve como base para entender los elementos clave de un registro antes de escalar el proceso al resto de los usuarios.

Queremos aplicar las siguientes transformaciones:

1. Eliminar espacios en blanco y guiones bajos (_) del nombre del usuario.
2. Dividir el nombre en una lista separando nombre y apellido.
3. Convertir la edad del usuario a un número entero.  

Instrucciones:

- Usa la variable user predefinida.
- Modifica los valores directamente en esa lista.
- Muestra el resultado final con print(user).  

Salida esperada:  
['32415', ['mike', 'reed'], 32, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]

###Hint:
1. Recortar y reemplazar: utiliza strip() para eliminar espacios iniciales y finales del nombre del usuario y replace('_', ' ') para eliminar guiones bajos con espacios.
2. Convertir la edad: convierte la edad en entero utilizando la función int().
3. Separar el nombre: utiliza el método split() para separar el nombre y el apellido, creando una sublista.

In [73]:
# Usuario de ejemplo
user = ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]

# Paso 1: limpiar y dividir el nombre
user[1] = user[1].replace('_',' ').strip() #Métodos replace y strip para cambiar _ por espacios y eliminar espacios en blanco

# Paso 2: dividir el nombre en una lista
user[1] = (user[1]).split() # con método split, para dividir los elementos en una sublista.

# Paso 3: convertir la edad a entero
user[2] = int(user[2]) # con la función int() para convertirlo a entero

# Mostrar resultado
print(user)

['32415', ['mike', 'reed'], 32, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]

# Paso 2: Convertir las categorías a minúsculas
En los datos actuales, las categorías favoritas de los clientes están escritas completamente en mayúsculas. Este formato puede causar inconsistencias en análisis posteriores, como al agrupar, filtrar o contar categorías. Para garantizar una lectura uniforme y facilitar futuras operaciones, es necesario normalizar estos valores a minúsculas.

En este paso, trabajaremos con una lista de ejemplo llamada fav_categories y construiremos una nueva lista llamada fav_categories_low, que contendrá las versiones en minúsculas de cada categoría.

Instrucciones:

1. Crea una nueva lista donde cada categoría esté en minúscula.

2. Usando un bucle, recorre y transforma cada elemento de la lista con las categorias en mayuscula para que queden en minuscula.

3. Anade cada elemento a la nueva lista fav_categories_low

4. Muestra el resultado utilizando print para verificar que la conversión fue exitosa.

La salida esperada es esta:  
['electronics', 'sport', 'books']

In [74]:
# Lista original de categorías favoritas escritas en mayúsculas
fav_categories = ['ELECTRONICS', 'SPORT', 'BOOKS']

# 1. Lista vacía donde almacenaremos las categorías convertidas a minúsculas
fav_categories_low = []

# 2. Recorremos cada categoría en la lista original
for category in fav_categories: # Bucle para recorrer los elementos en categorías
    # 2. Convertimos la categoría a minúscula utilizando el método lower()
    lowered_category = category.lower() # operación para pasar los strings de categorías a minúsculas

    # 3. Agregamos la categoría convertida a la nueva lista
    fav_categories_low.append(lowered_category)# Para agregar la categoría corregida a la nueva lista

# 4. Mostramos en pantalla la lista resultante con las categorías en minúsculas
print(fav_categories_low)

['electronics', 'sport', 'books']

###Hint:  
1. Recorre la lista fav_categories con un bucle.  
2. Convierte cada categoría a minúscula utilizando el método .lower().  
3. Agrega cada categoría convertida a la nueva lista fav_categories_low usando .append().  
4. Muestra el resultado final con print().

# Paso 3: Limpieza completa de un usuario
Ahora vamos a empaquetar todo ese proceso dentro de una función reutilizable.

Crea una función llamada clean_user(user) que realice estas acciones:

1. Limpie espacios y guiones del nombre y lo divida en nombre/apellido.
2. Convierta la edad a entero.
3. Convierta las categorías a minúsculas.  

Usa el mismo código que escribiste en los pasos anteriores. Solo necesitas ajustarlo para que funcione dentro de una función.

Prueba tu función con el usuario test_user y muestra el resultado.  
Salida esperada:  
['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]]

##Hint:
Crea una función llamada clean_user que reciba una lista user como argumento.

Dentro de la función, limpia el nombre usando .strip() y .replace() y luego divídelo con .split().

Convierte la edad a entero usando int().

Recorre la lista de categorías con un bucle o una lista por comprensión y usa .lower() en cada elemento.

Devuelve una nueva lista con los datos limpios en el mismo orden que el original.

No olvides probar tu función con test_user y mostrar el resultado con print().

In [75]:
###FORMA 1###
def clean_user(user): # Inicio de la función
    # Limpia y divide el nombre
    name = user[1].replace('_',' ').strip().split() # Limpiar el nombre con los métodos correctos

    # Edad como entero
    age = int(user[2]) #Corregir la edad, pasándola a entero

    # Categorías a minúsculas

    categories = [] #Lista vacía para almacenar la sublista de categorías
    for cat in user[3]: #Bucle para recorrer los elementos en la sublista de categorías
        categories.append(cat.lower())# con método append()

    return [user[0], name, age, categories, user[4]]

# Prueba
test_user = ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]
print(clean_user(test_user))

['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]]

In [76]:
###FORMA 2###
def clean_user(user): # Inicio de la función
    # Limpia y divide el nombre
    name = user[1].replace('_',' ').strip().split() # Limpiar el nombre

    # Edad como entero
    age = int(user[2]) #Corregir la edad

    # Categorías a minúsculas
    categories = [] #Lista vacía para almacenar la sublista de categorías
    for cat in user[3]: #Bucle para recorrer los elementos en categorías
        categories += [cat.lower()] ## operación para pasar los strings de categorías a minúsculas y agregarlos a la nueva lista vacía

         # escribe tu código aquí

    return [user[0], name, age, categories, user[4]]

# Prueba
test_user = ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]]
print(clean_user(test_user))

['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]]

#Paso 4: Limpieza de toda la base de usuarios
Ya tienes la función clean_user() funcionando correctamente. Ahora es momento de aplicarla a todos los registros de clientes.

1. Itera sobre la lista users_raw,
2. Usa la función clean_user() para limpiar cada usuario,
3. Guarda los resultados en una nueva lista llamada users_clean.  


Al final, imprime users_clean para verificar que todos los usuarios han sido transformados correctamente.

El resultado esperado es este:  

[['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]], ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]], ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]], ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]], ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]], ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]], ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]], ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]], ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]], ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]  


###Hint:  
Usa un bucle for para recorrer la lista users_raw. En cada vuelta, aplica la función clean_user() al usuario actual y guarda el resultado en una nueva lista llamada users_clean. Recuerda llenarla con .append().

In [77]:
users_raw = [
    ['32415', ' mike_reed ', 32.0, ['ELECTRONICS', 'SPORT', 'BOOKS'], [894, 213, 173]],
    ['31980', 'kate morgan', 24.0, ['CLOTHES', 'BOOKS'], [439, 390]],
    ['32156', ' john doe ', 37.0, ['ELECTRONICS', 'HOME', 'FOOD'], [459, 120, 99]],
    ['32761', 'SAMANTHA SMITH', 29.0, ['CLOTHES', 'ELECTRONICS', 'BEAUTY'], [299, 679, 85]],
    ['32984', 'David White', 41.0, ['BOOKS', 'HOME', 'SPORT'], [234, 329, 243]],
    ['33001', 'emily brown', 26.0, ['BEAUTY', 'HOME', 'FOOD'], [213, 659, 79]],
    ['33767', ' Maria Garcia', 33.0, ['CLOTHES', 'FOOD', 'BEAUTY'], [499, 189, 63]],
    ['33912', 'JOSE MARTINEZ', 22.0, ['SPORT', 'ELECTRONICS', 'HOME'], [259, 549, 109]],
    ['34009', 'lisa wilson ', 35.0, ['HOME', 'BOOKS', 'CLOTHES'], [329, 189, 329]],
    ['34278', 'James Lee', 28.0, ['BEAUTY', 'CLOTHES', 'ELECTRONICS'], [189, 299, 579]]
]

users_clean = [] #Lista vacía creada, donde se almacenarán los usuarios limpios

def clean_user(user): # Inicio de la función
    name = user[1].lower().replace('_',' ').strip().split() # Limpiar el nombre, agrego lower() para pasar todos los nombres y apellidos a minúsculas
    age = int(user[2]) # Corregir la edad
    categories = [] # Lista vacía para almacenar la sublista de categorías procesadas
    for cat in user[3]: #Bucle para recorrer los elementos en categorías
        categories += [cat.lower()] # operación para pasar los strings de categorías a minúsculas y agregarlos a la nueva lista vacía
    return [user[0], name, age, categories, user[4]] # Return para almacenar los resultados.

       # escribe tu código aquí
for user in users_raw:# bucle for, fuera de la función, para recorrer todos los usuarios
    users_clean.append(clean_user(user)) # Para agregar los usuarios procesados a la nueva lista

print(users_clean)

[['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]], ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]], ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]], ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]], ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]], ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]], ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]], ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]], ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]], ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

#Paso 5: Calcular ingresos totales
Ahora que tienes todos los registros de clientes limpios, el siguiente paso es comenzar a generar insights que puedan ayudar a la empresa a tomar decisiones estratégicas.

La empresa desea conocer sus ingresos totales.

Para calcular los ingresos de la empresa, sigue estos pasos:

1. Crea una variable revenue con valor inicial 0.
2. Itera sobre la lista users_clean con un bucle for.
3. En cada iteración, extrae la lista de gastos de cada usuario (la última posición de la sublista).
4. Suma esos valores con sum() y añádelos a revenue.
5. Al finalizar, imprime el resultado final para mostrar el ingreso total generado por todos los usuarios.

Salida esperada:  
9189

##Hint:
Analiza los objetivos del paso actual y reflexiona sobre qué estructura de control o función te ayudará a resolverlo. Reutiliza variables clave como user, users_clean, o total_spendings si ya las has usado previamente. Apóyate en funciones como .lower(), .append(), sum(), o bucles for y while según el caso.

In [78]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

revenue = 0 # variable revenue con valor inicial 0.

for user in users_clean:
   revenue += sum(user[4]) # accedo al índice [4] de cada user, le aplico sum(), y voy sumando al total revenue.

print(revenue)

9189

#Paso 6: Usuarios menores de 30 años
El equipo de marketing quiere segmentar a los usuarios jóvenes para campañas específicas. Vamos a identificarlos.

Recorre la lista de usuarios users_clean que has preparado anteriormente y muestra los nombres de los clientes menores de 30 años.

Pasos:
1. Escribe un bucle for que recorra cada usuario en users_clean.

2. Agrega una condición if para seleccionar a los usuarios menores de 30 años.

3. Dentro del bloque, imprime solo el primer elemento del nombre del usuario.

📌 Recuerda:

Si un elemento dentro de la lista contiene otra lista (como el nombre del usuario), puedes acceder a sus valores usando múltiples índices. Primero accede a la posición del nombre completo, y luego selecciona la parte específica que quieras mostrar.

Al ejecutar el código, deberás ver los nombres de los usuarios menores de 30 años.

Salida esperada:  
kate  
samantha  
emily  
jose  
james  

##Hint:
Usa un bucle for para recorrer users_clean y un if para filtrar por edad (índice 2). El nombre está en la posición 1 como sublista; usa un segundo índice para acceder a una parte específica. Por ejemplo: user[3][0]  # accede a la primera categoría (por ejemplo, "electronics")

In [79]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]


# escribe tu código aquí
for user in users_clean: #Creación del bucle
  if user[2]<30: # condición a cumplir, indicando el índice de la lista que se debe comparar.
    print(user[1][0]) # Imprimir el resultado, indicando los índices correctos de la lista y sublista

kate
samantha
emily
jose
james

#Paso 7: Jóvenes con alto gasto
Ahora filtraremos a los usuarios jóvenes que también han gastado mucho dinero, para que la empresa pueda identificarlos y darles beneficios especiales.

Debajo tienes la lista users_clean con todos los datos procesados.

Pasos:  
1. Escribe un bucle for que recorra cada usuario en users_clean.
2. Calcula el total gastado por cada usuario (suma de la lista de gastos).
3. Usa una condición if para mostrar solo los usuarios menores de 30 años y con un gasto total superior a $1000.  
4. Imprime solo la primera parte del nombre de cada usuario que cumpla ambos criterios.

La salida esperada es:  
samantha  
james

###Hint:
La lista de gastos está en la última posición de cada usuario. Puedes sumar sus valores con sum(). Usa operadores lógicos como and para combinar condiciones dentro del if. El nombre es una sublista en la posición 1. Usa índices dobles para acceder a una parte específica.

In [80]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]


# escribe tu código aquí


for user in users_clean: #Creación del bucle
  user_spends = sum(user[4]) #Suma de los gastos de cada usuario
  if user[2]<30 and user_spends > 1000: #Condicionantes de edad y gasto
    print(user[1][0]) # Imprimir sólo el nombre, ubicando los índices de lista y sublista

samantha
james

#Paso 8: Usuarios que compraron ropa
Store 1 también está explorando patrones de compra por categoría. Comenzamos con la categoría "clothes".

Debajo tienes la lista users_clean con toda la información de compras ya procesada.

Pasos:
1. Escribe un bucle for que recorra cada usuario en users_clean.
2. Usa una condición if para verificar si "clothes" está entre las categorías compradas.
3. Si cumple la condición, imprime el nombre del usuario y su edad en la misma línea.

Salida esperada:  
kate 24  
samantha 29  
maria 33  
lisa 35  
james 28  

###Hint:
La lista de categorías compradas está en la posición 3. Usa el operador in para comprobar si una categoría está presente. El nombre está en formato de sublista (índice 1) y la edad en la posición 2. Usa varios índices para acceder a los datos que necesitas.

In [81]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

# escribe tu código aquí

for user in users_clean:
  if 'clothes' in user[3]:
    print(user[1][0],user[2])

kate 24
samantha 29
maria 33
lisa 35
james 28

#Paso 9: Función con filtro por categoría
Para automatizar el análisis por categoría, implementaremos una función reutilizable que permita obtener los clientes que hayan comprado en una categoría específica.

Debajo tienes el nombre de la función y una prueba ya preparada con la categoría "home". Solo necesitas completar el cuerpo de la función.

Pasos:
1. Completa la definición de la función get_clients_by_category con dos argumentos: una lista de usuarios y una categoría a buscar.

2. Dentro de la función:

- Crea una lista vacía para guardar los resultados.
- Recorre cada usuario con un bucle for.
- Usa una condición if para verificar si la categoría está en su lista de compras.
- Si se cumple la condición, agrega a la lista de resultados una sublista con su ID, nombre completo, edad y gasto total.
3. Devuelve la lista resultante al final de la función.

La salida esperada es:  

[['32156', ['john', 'doe'], 37, 678], ['32984', ['david', 'white'], 41, 806], ['33001', ['emily', 'brown'], 26, 951], ['33912', ['jose', 'martinez'], 22, 917], ['34009', ['lisa', 'wilson'], 35, 847]]

###Hint:

La lista de categorías está en la posición 3, y la de gastos en la última posición. Para calcular el gasto total de un usuario, puedes usar `sum()` sobre esa lista. Usa `append()` para agregar un nuevo registro a la lista final.
Al ejecutar el código, verás una lista con los usuarios que compraron en la categoría 'home'.

In [82]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

def get_clients_by_category(lista, category):# se definen los parámetros que tomará la función
    result = [] #Lista vacía a la que se agregarán los resultados
    for user in lista: #Bucle que recorrerá el parámetro indicado
      if category in user[3]: #Condicional para verificar si la categoría está en su lista de compras
        result.append([user[0],user[1],user[2],sum(user[4])]) # agrega a la lista de resultados una sublista con su ID, nombre completo, edad y gasto total.


    return result

# Prueba con la categoría 'home'
filtered = get_clients_by_category(users_clean, 'home')
print(filtered)

[['32156', ['john', 'doe'], 37, 678], ['32984', ['david', 'white'], 41, 806], ['33001', ['emily', 'brown'], 26, 951], ['33912', ['jose', 'martinez'], 22, 917], ['34009', ['lisa', 'wilson'], 35, 847]]

#Reflexión del ejercicio 9:
En este paso el objetivo es automatizar el análisis por categoría, por lo que no parece lógico que obtengamos el total del gasto de los clientes, incluyendo todas las categorías en las que compran.
Por esto, podría mejorarse el código para que sólo muestre el gasto, por usuario, de la categoría seleccionada.

Podría hacerse de esta forma:

In [83]:
users_clean = [['32415', ['mike', 'reed'], 32, ['electronics', 'sport', 'books'], [894, 213, 173]],
         			 ['31980', ['kate', 'morgan'], 24, ['clothes', 'books'], [439, 390]],
         			 ['32156', ['john', 'doe'], 37, ['electronics', 'home', 'food'], [459, 120, 99]],
         			 ['32761', ['samantha', 'smith'], 29, ['clothes', 'electronics', 'beauty'], [299, 679, 85]],
         			 ['32984', ['david', 'white'], 41, ['books', 'home', 'sport'], [234, 329, 243]],
         			 ['33001', ['emily', 'brown'], 26, ['beauty', 'home', 'food'], [213, 659, 79]],
         			 ['33767', ['maria', 'garcia'], 33, ['clothes', 'food', 'beauty'], [499, 189, 63]],
         			 ['33912', ['jose', 'martinez'], 22, ['sport', 'electronics', 'home'], [259, 549, 109]],
         			 ['34009', ['lisa', 'wilson'], 35, ['home', 'books', 'clothes'], [329, 189, 329]],
         			 ['34278', ['james', 'lee'], 28, ['beauty', 'clothes', 'electronics'], [189, 299, 579]]]

def get_clients_by_category(lista, category):
    result = []
    for user in lista:
        if category in user[3]:
            idx = user[3].index(category)           # Posición de la categoría
            gasto = user[4][idx]                    # Gasto asociado
            result.append([user[0], user[1], user[2], gasto])
    return result

filtered = get_clients_by_category(users_clean, 'home')
print(filtered)

[['32156', ['john', 'doe'], 37, 120], ['32984', ['david', 'white'], 41, 329], ['33001', ['emily', 'brown'], 26, 659], ['33912', ['jose', 'martinez'], 22, 109], ['34009', ['lisa', 'wilson'], 35, 329]]